.Header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	padding: 0 10% 0 10%;
	background-color: var(--white1);
	height: 3rem;
}
.Title {
	font-size: 2rem;
	color: black;
	text-decoration: none;
	margin: auto;
}
.Input {
	margin: auto;
}
.User {
	margin: auto;
}
.Footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 5rem;
	margin-right: 5rem;
}
