.InputFrame{
    position: fixed;
    border: 1px solid lightgrey;
    height: 400px;
    width: 60%;
    top: 8rem;
    left: 20%;
    border-radius: 3px;
}
.InputFrame input{
    height: 1.8rem;
    width: 20rem;
    font-size: 1rem;
    outline: none;
}